/*----- BASE STYLES -----*/
* {
  box-sizing: border-box; }

body {
  font-family: 'Palanquin', sans-serif;
  font-weight: lighter; }

p {
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 1px; }

h1 {
  font-size: 44px;
  font-weight: 100;
  line-height: 1.09090909em;
  letter-spacing: 1.5px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 18px; }

a {
  text-decoration: none;
  color: white; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black; }

/*----- LAYOUT STYLES -----*/
.section {
  position: relative; }

.wrapper {
  margin: auto;
  padding: 0 10%; }

.column {
  float: left;
  width: 45%; }
  @media (max-width: 750px) {
    .column {
      float: none;
      width: 100%; } }

.left-column {
  margin: 0 5% 0 0; }
  @media (max-width: 750px) {
    .left-column {
      margin: 0; } }

.right-column {
  margin: 0 0 0 5%; }
  @media (max-width: 750px) {
    .right-column {
      margin: 0; } }

/*----- MASTHEAD STYLES -----*/
.section-home h1 {
  float: left;
  margin: 30px 8px 0 0;
  font-size: 48px;
  font-weight: normal;
  line-height: 10px;
  opacity: .75; }
.section-home h2 {
  float: left;
  margin: 15px 0 0 0;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1.5px; }
.section-home ul {
  position: absolute;
  right: 15%;
  margin: 20px 0 0 0;
  float: left; }
  @media (max-width: 900px) {
    .section-home ul {
      right: 10%; } }
  @media (max-width: 320px) {
    .section-home ul {
      left: 10%;
      top: 60px; } }
.section-home li {
  margin-right: 15px;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1.5px; }
  @media (max-width: 580px) {
    .section-home li {
      display: block;
      text-align: right; } }
  @media (max-width: 320px) {
    .section-home li {
      text-align: left; } }
  .section-home li a {
    color: #c6af9c; }
  .section-home li:hover, .section-home li:focus {
    border-bottom: 2px solid #c6af9c; }

.masthead-logo {
  position: absolute;
  left: 15%; }
  .masthead-logo:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 900px) {
    .masthead-logo {
      left: 10%; } }

/*----- SECTION STYLES -----*/
.section-home {
  background-image: url(../images/profile-photo-squares.jpg);
  background-size: cover;
  background-position: center bottom;
  color: #c6af9c; }

.section-about {
  padding: 0;
  background-color: #515c68;
  background-image: url(../images/about-bg.jpg);
  background-size: cover;
  color: #fff; }
  .section-about h1 {
    width: 70%; }
    @media (max-width: 750px) {
      .section-about h1 {
        margin-top: 0;
        font-size: 36px; } }
    @media (max-width: 650px) {
      .section-about h1 {
        margin-top: 0;
        font-size: 24px; } }
  @media (max-width: 750px) {
    .section-about p {
      font-size: 14px; } }
  @media (max-width: 650px) {
    .section-about p {
      font-size: 12px; } }
  .section-about .column {
    margin-top: 12%; }
    @media (max-width: 650px) {
      .section-about .column {
        margin-top: 18%; } }

.section-resources {
  color: #515c68;
  background-color: #f9f3ef;
  background-image: url(../images/resources-bg.jpg);
  background-size: cover; }
  .section-resources .column {
    margin-top: 12%; }
    @media (max-width: 900px) {
      .section-resources .column {
        margin-top: 18%; } }
    @media (max-width: 475px) {
      .section-resources .column {
        margin-top: 30%; } }
  @media (max-width: 900px) {
    .section-resources .left-column {
      margin-right: 0; } }
  @media (max-width: 900px) {
    .section-resources .right-column {
      margin-left: 0; } }
  @media (max-width: 475px) {
    .section-resources .right-column {
      margin-top: 15%; } }
  .section-resources a {
    color: #515c68; }
    .section-resources a:hover, .section-resources a:focus {
      text-decoration: underline; }
  @media (max-width: 750px) {
    .section-resources li {
      display: inline;
      margin-right: 10px; } }

#software-time {
  width: 40px;
  height: 20px;
  background-color: #515c68; }
  @media (max-width: 475px) {
    #software-time {
      width: 30px;
      height: 15px; } }

#design-time {
  width: 100px;
  height: 20px;
  background-color: #515c68; }
  @media (max-width: 475px) {
    #design-time {
      width: 80px;
      height: 15px; } }

#code-time {
  width: 400px;
  height: 20px;
  background-color: #515c68; }
  @media (max-width: 475px) {
    #code-time {
      width: 300px;
      height: 15px; } }

/*----- ARROWS / BUTTONS STYLES -----*/
.nav-arrow {
  position: absolute;
  left: 49%;
  bottom: 20px; }

.link {
  display: inline-block;
  margin: 0;
  margin-top: 20px;
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: hand; }
  .link:hover, .link:focus {
    color: #515c68;
    background-color: #fff; }
  .link a {
    color: white; }

/*# sourceMappingURL=main.css.map */
