/*----- MASTHEAD STYLES -----*/

.section-home {
	
	h1 {
		float: left;
		margin: 30px 8px 0 0;
		font-size: 48px;
		font-weight: normal;
		line-height: 10px;
		opacity: .75;
	}
	
	h2 {
		float: left;
		margin: 15px 0 0 0;
		font-size: 18px;
		font-weight: 100;
		letter-spacing: 1.5px;
	}
	
	ul {
		position: absolute;
		right: 15%;
		margin: 20px 0 0 0;
		float: left;
		
		@media (max-width: 900px) {
			right: 10%;
		}
		
		@media (max-width: 320px) {
			left: 10%;
			top: 60px;
		}
		
	}
	
	li {
		margin-right: 15px;
		padding-bottom: 5px;
		display: inline-block;
		font-size: 14px;
		font-weight: 100;
		letter-spacing: 1.5px;
		
		@media (max-width: 580px) {
			display: block;
			text-align: right;
		}
		
		@media (max-width: 320px) {
			text-align: left;
		}
		
		a {
			color: $tan;
		}
		
		&:hover,
		&:focus {
			border-bottom: 2px solid $tan;
		}
	}
}

.masthead-logo {
	position: absolute;
	left: 15%;
	
	@include clearfix;
	
	@media (max-width: 900px) {
		left: 10%;
	}
	
}