.section {
	position: relative;
}


.section-home {
	background-image: url(../images/profile-photo.jpg);
	background-size: cover;
	background-position: center bottom;
	
	h1 {
		position: absolute;
		top: 0;
		margin: 0;
		font-size: 48px;
		color: #c6af9c;
	}
}


.section-about {
	background-color: $grayblue;
}



