


.section-home {
	background-image: url(../images/profile-photo.jpg);
	background-size: cover;
	background-position: center bottom;
	color: #c6af9c;
}


.section-about {
	padding: 0;
	background-color: $grayblue;
	background-image: url(../images/about-bg.png);
	background-size: cover;
	color: #fff;
	
	h1 {
		width: 70%;
		}
		
	.column {
		margin-top: 12%;
	}
}

.section-resources {
	color: $grayblue;
	background-color: $light-tan;
	background-image: url(../images/resources-bg.png);
	background-size: cover;
	
	.column {
		margin-top: 12%;
	}
	
	a {
		color: $grayblue;
		
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

#software-time {
	width: 40px;
	height: 20px;
	background-color: $grayblue;
}

#design-time {
	width: 100px;
	height: 20px;
	background-color: $grayblue;
}

#code-time {
	width: 400px;
	height: 20px;
	background-color: $grayblue;
}




