


.section-home {
	background-image: url(../images/profile-photo.jpg);
	background-size: cover;
	background-position: center bottom;
	color: #c6af9c;
	
	h1 {
		float: left;
		margin: 0;
		margin-top: 30px;
		font-size: 48px;
		line-height: 10px;
		opacity: .75;
	}
	
	h2 {
		float: left;
		margin: 15px 0 0 8px;
		font-size: 18px;
		font-weight: 100;
		letter-spacing: 1.5px;
		opacity: .5;
	}
}


.section-about {
	padding: 9% 0;
	background-color: $grayblue;
	color: #fff;
	
	h1 {
		width: 70%;
		font-size: 44px;
		font-weight: 100;
		line-height: 1.09090909em;
		}
}




