.button {
	padding: 10px 14px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border: none;
	border-radius: 5px;
	transition: all 0.5s;
}

.button-black {
	color: $lightgray;
	background-color: $black;	
}

.button-white {
	padding: 5px 14px;
	color: $black;
	background-color: $white;
}

.button-link {
	padding: 20px 0;
	color: $black;
	background-color: $white;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #0C5;
  border-color: #0C5;
  background: #FFF;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -25px;
  opacity: 0;
  width: 5px;
  height: 5px;
  margin-top: -5px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.button:hover span, .button:active span 
{
  padding-right: 20px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}