.footer {
	clear: both;
	width: 100%;
	margin-top: 50px;
	font-size: 12px;
	line-height: 1.54583333em;
	color: $lightgray;
	background-color: $black;
	
	.inner-wrapper {
		
		@media (min-width: 820px) {
			padding: 50px;
		}
		
	}
	
	a {
		color: $lightgray;
		
		&:hover,
		&:active,
		&:focus {
			color: $green;
		}
		
	}
	
	.bamboo-logo {
		margin: 0;
		margin-bottom: 42px;
	}
	
	h3 {
		float: left;
		margin-right: 10px;
		font-size: 12px;
		text-transform: uppercase;
	}
	
	.fa {
		margin: 0 5px;
	}
	
	@media (min-width: 820px) {
	
		ul {
			display: inline-block;
			vertical-align: top;
		}
	
	}
		
}

.contact {
	margin: 20px 0;
	
	@media (min-width: 820px) {
		margin: 0 50px;
	}
	
}

.fa {
	
	&:hover,
	&:focus {
		color: $green;
	}
	
}

.social-media {
	
	@media (min-width: 820px) {
		float:right;
	}
	
}