.made-with {
	clear: both;
	
	h2{
		text-transform: lowercase;
		color: $black;
	}
	
	.inner-wrapper {
		
		overflow: visible;
		
		@media (min-width: 440px) {
				height: 650px;
		}
		
		@media (min-width: 640px) {
				height: 800px;
		}
		
		@media (min-width: 820px) {
				height: 600px;
		}
		
		@media (min-width: 920px) {
				height: 750px;
		}
	
	}
	
}

.samples {
	height: 260px;
	margin: 20px 0;	
}

.made-with-sample {
	float: left;
	position: relative;
	width: 40%;
	margin: 5px;
	
	@media (min-width: 820px) {
		width: 30%;
		margin: 10px;
	}
	
	
}

.sample-img {
	width: 100%;
}

.twitter-handler {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	font-weight: lighter;
	background-color: rgba(0, 0, 0, .8);
	
	@media (min-width: 640px) {
		height: 50px;
		padding: 10px 10px 0 0;
		font-size: 16px;
	}
	
	a {
		float: right;
		color: $lightgray;
		margin-right: 5px;
		
		&:hover,
		&:active,
		&:focus {
			color: $green;
		}
	
	}
	
}