.pen-features {
	padding-top: 250px;
	background-image: url(../images/img_7045-2.jpg);
	background-size: cover;
	
	@media (min-width: 440px) {
		padding-top: 325px;
	}
	
	@media (min-width: 600px) {
		padding-top: 400px;
	}
	
	@media (min-width: 820px) {
		padding-top: 0;
	}
	
	
	h2 { 
		color: $white;	
	}
	
	p {
		color: $white;
	}	
}

