.featured {
	width: 100%;
	
	p {
		color: $lightgray;
		margin-bottom: 30px; 
		
		@media (min-width: 820px) {
			margin-bottom: 50px;
		}
		
	}
	
	.column-right {
		@media (min-width: 1120px) {
			padding-top: 20px;
		}
	}
	
}

.tablet-features {
	background-image: url('../images/blurred-background.jpg');
	background-size: cover;
	background-position: center center;
	
}

.tablet-thumbnail {
	width: 100%;
	max-width: 500px;
	margin: auto;
	display: block;
}




